/* flex properties */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-justify-sb {
    justify-content: center;
}

.flex-justify-sb {
    justify-content: space-between;
}

.flex-align-cn {
    align-items: center;
}

/* buttons */
.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}

.btn-secondary:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

/* page */
.page-header {
    color: var(--color-primary);
    text-decoration: underline;
    width: fit-content;
    padding: 1rem;
    margin: auto;
}

.page-wrapper {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 480px) {
    .page-wrapper {
        padding: 0.5rem;
    }
}