/* flex properties */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-justify-sb {
    justify-content: space-between;
}

.flex-align-cn {
    align-items: center;
}

/* buttons */
.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}

.btn-secondary:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}