@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    /* colors */
    --color-white: #ffffff;
    --color-black: #333;
    --color-primary: #b6205a;
    --color-secondary: #ffeef2;
    --color-grey: #c6c1c2;
    --color-grey-2: #bbb;

    /* gradient */
    --gradient-background: linear-gradient(#ffe9ef, #fffcfd );

    /* fonts */
    --font-text: 'Rubik', sans-serif;
}