@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    /* colors */
    --color-white: #ffffff;
    --color-black: #353535;
    --color-primary: #b62059;
    --color-secondary: #ffeef2;

    /* gradient */
    --gradient-background: linear-gradient(#ffe9ef, #fffcfd );

    /* fonts */
    --font-text: 'Rubik', sans-serif;
}