.back-button {
    color: var(--color-primary);
    background: none;
    font-weight: bold;
    gap: 0.25rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.back-button:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

.user-details {
    color: var(--color-black);
    gap: 1rem;
    margin: 0rem 1rem 2rem;
}

.user-image {
    border: 10px solid var(--color-secondary);
    border-radius: 50%;
}

.user-details-section-1 {
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

.user-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.username-text {
    font-size: 0.75rem;
}

.user-details-section-2 {
    gap: 1rem;
}

.user-detail-title {
    color: var(--color-grey);
    font-size: 0.75rem;
    font-weight: bold;
}